/*-- scss:functions --*/

/*-- scss:defaults --*/

$content-padding-top: 0px;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans');

body {
  overflow: hidden;
  font-family: "Noto Sans";
}
