/*-- scss:functions --*/

/*-- scss:defaults --*/

$content-padding-top: 0px;

/*-- scss:rules --*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
  overflow: hidden;
  font-family: "Noto Sans";
}

main {
  margin-top: 0em;
  margin-bottom: 0em;
}

#title-block-header {
  margin-top: -1em;
}

.label:has(+ .form) {
  flex-shrink: unset !important;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  width: auto !important;
  //row-gap: 2em;
  
  label {
    width: auto !important;
    //font-weight: bold;
  }
  
  select {
    width: auto !important;
  }
}

.panel-input {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 0;
}

.input-group {
  width: auto;
  padding-right: 0 !important;
  
  p {
    margin-bottom: 0;
  }
}

.btn-reset {
  font-size: 0.8em;
  padding-left: 0.4em;
  padding-right: 0.4em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
